<div class="grid grid-flow-row auto-rows-max text-sm">
    @for (item of [1,2,3,4,5,6,7,8,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,]; track $index) {
    <a
        href="#"
        class="group flex w-full items-center rounded-md border border-transparent px-2 py-1 hover:underline font-medium text-foreground">
        Alert
        <!-- {item.label && (
        <span class="ml-2 rounded-md bg-[#adfa1d] px-1.5 py-0.5 text-xs leading-none text-[#000000] no-underline group-hover:no-underline">
            {item.label}
        </span>
        )} -->
    </a>
}
  </div>