<header class="sticky top-0 z-50 w-full border-border/40 bg-background/95 backdrop-blur supports-[backdrop-filter]:bg-background/60">
    <div class="container flex h-14 max-w-screen-2xl items-center">
        <!-- <MainNav />
      <MobileNav /> -->
      <!-- <div>UI</div> -->
       <img src="/angular_icon_gradient.gif" class="h-12 w-12" alt="">
        <div class="flex flex-1 items-center justify-between space-x-2 md:justify-end">
            <div class="w-full flex-1 md:w-auto md:flex-none">
                <!-- <CommandMenu /> -->
                 <app-command-menu></app-command-menu>
            </div>
            <nav class="flex items-center">
                <a href="#" target="_blank" rel="noreferrer">
                    <div class="h-8 w-8 px-0" uiButton variant="ghost">
                        <lucide-icon name="github" class="w-4 h-4"></lucide-icon>
                    </div>
                </a>
                <a href="#" target="_blank" rel="noreferrer">
                    <div class="h-8 w-8 px-0" uiButton variant="ghost">
                        <lucide-icon name="twitter" class="w-4 h-4"></lucide-icon>
                    </div>
                </a>
                <div class="h-8 w-8 px-0" uiButton variant="ghost">
                    <lucide-icon name="sun" class="w-4 h-4"></lucide-icon>
                </div>
            </nav>
        </div>
    </div>
</header>