<section class="min-h-screen bg-gray-900 flex justify-center items-center">
    <div class="w-full max-w-7xl px-4 md:px-5 lg:px-5 mx-auto">
        <div class="w-full md:px-16 px-10 md:pt-16 pt-10 pb-10 bg-gray-900 rounded-2xl flex-col justify-end items-center lg:gap-28 md:gap-16 gap-10 inline-flex">
            <div class="flex-col justify-end items-center lg:gap-16 gap-10 flex">
                
                <div class="flex-col justify-center items-center gap-10 flex">
                    <div class="flex-col justify-start items-center gap-2.5 flex">
                        <img src="angularui-white-logo.svg" alt="angularui logo image" class="object contain h-24">
                        <p class="text-center text-gray-500 font-normal leading-relaxed md:text-3xl">A Powerful UI Component Library for Angular, Styled with Tailwind CSS
                            Simplify your development with beautiful, reusable components. Stay tuned!</p>
                    </div>
                </div>
            </div>
            <p class="text-center text-gray-500 md:text-lg font-normal leading-snug">Get in touch for more updates:  <a href="https://x.com/immohammadjaved" target="_blank" class="hover:text-gray-100 transition-all duration-700 ease-in-out text-purple-700"> &#64;immohammadjaved</a></p>
        </div>
    </div>
</section>
                                        

<!-- <section class="min-h-screen bg-gray-900"></section> -->