
<!-- <app-hero></app-hero> -->
<!-- <app-footer></app-footer> -->

<div class="container mx-auto mt-24">
    <div uiAlert variant="primary-light">
        <div uiAlertTitle>Cannot connect to the database</div>
        <div uiAlertDescription>We are unable to save any progress at this time.</div>
    </div>
    <div class="mt-5" uiAlert variant="success-light">
        <div uiAlertTitle>Cannot connect to the database</div>
        <div uiAlertDescription>We are unable to save any progress at this time.</div>
    </div>
    <div class="mt-5" uiAlert variant="warning-light">
        <div uiAlertTitle>Cannot connect to the database</div>
        <div uiAlertDescription>We are unable to save any progress at this time.</div>
    </div>
    <div class="mt-5" uiAlert variant="danger-light" aria-label="new alert">
        <div uiAlertTitle>Cannot connect to the database</div>
        <div uiAlertDescription>We are unable to save any progress at this time.</div>
    </div>

    <!-- <div class="bg-primary text-primary-foreground text-sm  rounded-lg p-4" role="alert" tabindex="-1" aria-labelledby="hs-solid-color-dark-label">
        <span id="hs-solid-color-dark-label" class="font-bold">Dark</span> alert! You should check in on some of those fields below.
    </div> -->
</div>

